body{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
h2{  
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
p{  
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 800px;
}
