
VixxoService/FBVixxoService/.vs/FBVixxoService/v17/.suo
VixxoService/FBVixxoService/.vs/FBVixxoService/FileContentIndex/7b7a7592-c03e-4208-ad3e-f8bbd32b2202.vsidx
VixxoService/FBVixxoService/.vs/FBVixxoService/FileContentIndex/b26e7cc6-983e-4159-b9cb-a285a96ef0f0.vsidx
VixxoService/FBVixxoService/.vs/FBVixxoService/FileContentIndex/e6287c97-a640-4b3e-a5da-3d5971eb0100.vsidx
VixxoService/FBVixxoService/.vs/FBVixxoService/FileContentIndex/ed1448f5-bbd4-4d2d-b68e-482fe39b09f1.vsidx
VixxoService/FBVixxoService/.vs/FBVixxoService/FileContentIndex/f5268ba0-bb50-4169-93d7-2588fe406e71.vsidx
VixxoService/FBVixxoService/FBVixxoService/obj/Debug/FBVixxoService.csproj.AssemblyReference.cache
VixxoService/FBVixxoService/FBVixxoService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.vsidx
*.cache
*.vsidx
*.vsidx
VixxoService/FBVixxoService/.vs/FBVixxoService/FileContentIndex/e6287c97-a640-4b3e-a5da-3d5971eb0100.vsidx
VixxoService/FBVixxoService/.vs/FBVixxoService/FileContentIndex/b26e7cc6-983e-4159-b9cb-a285a96ef0f0.vsidx
VixxoService/FBVixxoService/FBVixxoService/obj/Debug/FBVixxoService.csproj.AssemblyReference.cache
VixxoService/FBVixxoService/FBVixxoService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VixxoService/FBVixxoService/.vs/FBVixxoService/v17/.suo
VixxoService/FBVixxoService/.vs/FBVixxoService/FileContentIndex/e6287c97-a640-4b3e-a5da-3d5971eb0100.vsidx
VixxoService/FBVixxoService/.vs/FBVixxoService/FileContentIndex/b26e7cc6-983e-4159-b9cb-a285a96ef0f0.vsidx
