
/*Customization Styles*/
.dfh-form .form-group {
overflow:hidden;
margin-bottom: 10px;
}
.dfh-form .form-group label {
font-weight:normal;
margin-top: 10px;
font-size: 14px;
    color: #333;
}
.input-text {
    position: relative;
}
.input-text b {
    position: absolute;
    right: 0;
    top: 5px;
	font-weight:normal;
}
.input-text i {
    position: absolute;
    left: 0;
    top: 5px;
	font-style:normal;
}
.padding-none-x {
padding-left:0 !important;
padding-right:0 !important;
}
.dfh-form h4 {
    margin-bottom: 0;
    margin-top: 30px;
}
.bg-grey {
background-color:#f9f9f9;
}
.padding-left-15px {
padding-left:15px !important;
}
.margin0 {
margin:0 !important;
}


#modalpopup
{
    display: none;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.51);
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: 99999;
    height: 100%;
}

.modelpopup-inner
{
    position: absolute;
    width: 350px;
    background: #fff;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

    .modelpopup-inner h3
    {
        margin: 0px;
    }

