<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="LdapRoles" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;initial catalog=MARS_TEST;user id=marsuser;password=Test@1234;" />
    <add name="SmuckersEntities" connectionString="metadata=res://*/Smuckers.csdl|res://*/Smuckers.ssdl|res://*/Smuckers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=MARS_TEST;user id=marsuser;password=Test@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=10.30.129.253;Initial Catalog=MARS_TEST;User Id=marsuser;Password=marsuser1;" />
      <add name="SmuckersEntities" connectionString="metadata=res://*/Smuckers.csdl|res://*/Smuckers.ssdl|res://*/Smuckers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.30.129.253;initial catalog=MARS_TEST;user id=marsuser;password=marsuser1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=10.30.129.253;Initial Catalog=MARS_DEV;User Id=marsuser;Password=marsuser1;"/>-->
    <!--10.30.129.103-->
    <add name="FarmerBrothersEntities" connectionString="metadata=res://*/FB.csdl|res://*/FB.ssdl|res://*/FB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-OIQUCSS9\SQLEXPRESS2014;initial catalog=FB_DEV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="FormalBrothersEntities" connectionString="metadata=res://*/FB.csdl|res://*/FB.ssdl|res://*/FB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LAPTOP-OIQUCSS9\SQLEXPRESS2014;Initial Catalog=FarmerBrothers;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="FormalBrothersEntities" connectionString="metadata=res://*/FB.csdl|res://*/FB.ssdl|res://*/FB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USER-PC\SQLEXPRESS;initial catalog=FarmerBrothers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="FormalBrothersEntities1" connectionString="metadata=res://*/FB.csdl|res://*/FB.ssdl|res://*/FB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USER-PC\SQLEXPRESS;initial catalog=FormalBrothers;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="UserName" value="wlxconsult"/>
    <add key="Password" value="wlxconsult2"/>
    <add key="CustomerUpdateMailToAddress" value="sriramaramesh@gmail.com;hari@maibpo.com"/>
    <add key="SalesEmailAddress" value="sriramaramesh@gmail.com;hari@maibpo.com"/>
    <add key="CustomerUpdateMailFromAddress" value="marsnotification@jmsmucker.com"/>
    <add key="DispatchMailFromAddress" value="marsdispatch@jmsmucker.com"/>
    <add key="FSREmail" value="sriramaramesh@gmailcom;ram@maibpo.com"/>
    <add key="WPAEmail" value="sriramaramesh@gmailcom;ram@maibpo.com"/>
    <add key="ProjectManagementEmail" value="sriramaramesh@gmail.com;ram@maibpo.com"/>
    <add key="CustomerUpdateMailSubject" value="Updated Customer Details"/>
    <add key="MailServer" value="192.168.3.240"/>
    <add key="TimeZone_E" value="Eastern Standard Time"/>
    <add key="TimeZone_C" value="Central Standard Time"/>
    <add key="TimeZone_M" value="Mountain Standard Time"/>
    <add key="TimeZone_P" value="Pacific Standard Time"/>
    <add key="TimeZone_H" value="Hawaiian Standard Time"/>
    <add key="TimeZone_K" value="Alaskan Standard Time"/>
    <add key="FeastLocationsClient" value="http://orrywl9x.na.jmsmucker.com:8580/feastservices/WS_CustomerAPI"/>
    <add key="MovementSearchClient" value="http://orrywl9x.na.jmsmucker.com:8580/feastservices/WS_SearchMovementAPI"/>
    <add key="WSCustomerKnownEquipClient" value="http://orrywl9x.na.jmsmucker.com:8580/feastservices/WSCustomerKnownEquipPort"/>
    <add key="FeastCreateMovementClient" value="http://orrywl9x.na.jmsmucker.com:8580/feastservices/WS_CreateMovementAPI"/>
    <add key="FeastCompleteMovementClient" value="http://orrywl9x.na.jmsmucker.com:8580/feastservices/completeMovement"/>
    <!--<add key="FeastLocationsClient" value="http://festorrwwwb.na.jmsmucker.com/feastservices/WS_CustomerAPI"/>
    <add key="MovementSearchClient" value="http://festorrwwwb.na.jmsmucker.com/feastservices/WS_SearchMovementAPI"/>
    <add key="WSCustomerKnownEquipClient" value="http://festorrwwwb.na.jmsmucker.com/feastservices/WSCustomerKnownEquipPort"/>
    <add key="FeastCreateMovementClient" value="http://festorrwwwb.na.jmsmucker.com/feastservices/WS_CreateMovementAPI"/>
    <add key="FeastCompleteMovementClient" value="http://festorrwwwb.na.jmsmucker.com/feastservices/completeMovement"/>-->
    <add key="LdapPort" value="6501"/>
    <add key="LdapHost" value="10.1.3.144"/>
    <add key="LoginDN" value="cn=jmsmars,cn=Users,dc=feastd,dc=na,dc=jmsmucker,dc=com"/>
    <add key="LdapPassword" value="jmsmars2"/>
    <add key="LdapSearchBase" value="ou=mars,ou=groups,ou=fes,ou=applications,ou=internal,dc=feastd,dc=na,dc=jmsmucker,dc=com"/>
    <add key="ImageLocationUrl" value="http://mrsqorrwwwa.na.jmsmucker.com/JMSCustomer/MARSWOImages/"/>
    <add key="Maps" value="https://console.developers.google.com/project/454468120646"/>
    <add key="TestEmail" value="sriramaramesh@gmail.com"/>
    <add key="DispatchResponseUrl" value="http://localhost/FormalBrothersMailResponse/dispatchresponse/dispatchresponse"/>
    <add key="ManagerName" value="MOI"/>
    <add key="ManagerPhone" value="123456789"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="FormalBrothers.CustomHeaderExtension, FormalBrothers" priority="1" group="Low"/>
      </soapExtensionTypes>
    </webServices>
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="2880"/>
    </authentication>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="Syncfusion.MVC.EJ"/>
        <add namespace="Syncfusion.JavaScript"/>
        <add namespace="Syncfusion.JavaScript.Mobile"/>
      </namespaces>
    </pages>
    <compilation debug="true" targetFramework="4.5.1"/>
    <sessionState timeout="120"/>
  </system.web>
  <system.webServer>
    <!--<modules>
      <remove name="FormsAuthentication" />
    </modules>-->
    <staticContent>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".eot" mimeType="applicat  ion/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff"/>
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge,chrome=1"/>
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <LdapRoles>
    <add key="Customer" value="Call Center,JMS Access,MARS Administration"/>
    <add key="CustomerSearch" value="Call Center,JMS Access,MARS Administration"/>
    <add key="Workorder" value="Call Center,JMS Access,MARS Administration"/>
    <add key="Erf" value="MARS Administration,JMS Access"/>
    <add key="Reports" value="MARS Administration,JMS Access"/>
    <add key="Invoice" value="MARS Administration,JMS Access"/>
    <add key="UnknownCustomer" value="MARS Administration,Work Order Maintenance"/>
    <add key="ReopenWorkOrder" value="MARS Administration,Work Order Maintenance"/>
    <add key="ThirdParty" value="TPSP Contract,MARS Administration"/>
    <add key="TechnicianCalendar" value="Tech Calendar Maintenance,MARS Administration,Call Center,JMS Access"/>
    <add key="Project" value="MARS Administration,Work Order Maintenance"/>
    <add key="FIMAccountMaintenance" value="MARS Administration"/>
    <add key="Holiday" value="MARS Administration"/>
    <add key="ZoneTechnician" value="MARS Administration"/>
    <add key="TestEmail" value="goud2020@gmail.com"/>
    <add key="DispatchResponseUrl" value="http://localhost/SmuckersMailResponse/dispatchresponse/dispatchresponse"/>
  </LdapRoles>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.9004" newVersion="3.4.1.9004"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.EJ" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.1450.0.41" newVersion="14.1450.0.41"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.EJ.MVC" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.1500.0.41" newVersion="14.1500.0.41"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Pdf.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.1450.0.41" newVersion="14.1450.0.41"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.XlsIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.1450.0.41" newVersion="14.1450.0.41"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.DocIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.1450.0.41" newVersion="14.1450.0.41"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.OfficeChart.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.1450.0.41" newVersion="14.1450.0.41"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FeastCustomerBinding" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000"/>
        </binding>
        <binding name="CreateInvoicePortBinding"/>
        <binding name="MovementSearchBinding"/>
        <binding name="CreateMovementBinding"/>
        <binding name="FeastERFUpdateBinding"/>
        <binding name="FeastCatalogValidatorBinding"/>
        <binding name="completeMovementBinding"/>
        <binding name="USZipSoap1"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="USZipSoap">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="USZipSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/uszip.asmx" binding="basicHttpBinding" bindingConfiguration="USZipSoap1" contract="USZipService.USZipSoap" name="USZipSoap"/>
      <endpoint address="http://www.webservicex.net/uszip.asmx" binding="customBinding" bindingConfiguration="USZipSoap12" contract="USZipService.USZipSoap" name="USZipSoap12"/>
    </client>
  </system.serviceModel>
</configuration>