
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FBReOpen</title>
</head>
<body>
    <div> 
        Not Implemented.
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <a href="@Url.Action("AllReports", "Reports")" style=" margin-left:10px;" class="btn btn-orange">Back</a>
        </div>
    </div>
</body>
</html>
