<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>paE3ReJSRbtl0rDfAiq+7/W9bqwj2wpt0Oeb3fWP/xvsojvBwL78TxnliSO6x86ZC4vOI93pSg1ZZXaJ/XORd9ntLxuuQKk/97g6HUZvQApU+jTpFmI4G68Dp8G7B1cpj1/CePXIYyYR4k5d21c9SrLexoR9qxP4eDzimrfJUG7xfEyhYvXh7lvlLL88eu+y+fHW+YHSCgGLz073DkTE6QSRp6vYnTBc7EHGwpSnvKnTy+sgAUA18EIDe/3bldmCc08KdCmN4Ueo3KNN7vLH0weAHqFP8U3G6GsG1V8KFIryBOKWTynfiqXewNCm5ZgLmnFq2jar/nLnUqe72mm7pQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>drP6iYzgroNnam3dmDS/hFhdy8xdsx+f7OOlw7ca2+k=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>