<div class="modal-header">
    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>*@
    <h4 class="modal-title" style="align-content:center;margin-left:210px;" id="myModalLabel">Create Project</h4>
</div>


@model FarmerBrothers.Models.ProjectNumberModel

<form role="form">
    <div class="modal-body" id='myModalContent'>
        <table style="border-collapse: collapse">
            <tr>
                <td style="vertical-align:top"><label style="width:120px;">Deadline:</label></td>
                <td>
                    @Html.TextBoxFor(a => a.DeadLine, new { id = "deadLineDate1", name = "deadline1" })
                </td>
            </tr>

            <tr>
                <td style="vertical-align:top;background-color:white"><label style="width:120px;">Notes:</label></td>
                <td>@Html.TextAreaFor(m => m.Notes, new { id = "txtNotes1", name = "notes", @cols = 55, @rows = 7 })</td>
            </tr>

        </table>
        <br />
    </div>
    <input type="hidden" id="testDate" name="testDate" value="" />
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="btnSave">Create</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $("#deadLineDate1").ejDatePicker();

        $("#btnSave").click(function () {
            formSubmitting = true;
            var CreateUrl = '@Url.Action("CreateProject", "Project")';

            $("#testDate").val($("#deadLineDate1").val());

            $.ajax({
                type: 'POST',
                url: CreateUrl, // we are calling json method
                dataType: 'json',
                data: { deadline1: $("#deadLineDate1").val(), notes: $("#txtNotes1").val(), testDate: $("#testDate").val() },
                success: function (data) {
                    $("#txtProjectNumberid").val(data);
                    $("#txtNotes1").val("");
                    $("#deadLineDate1").val("");
                    $('#myModal').modal('toggle');
                    var myUrl = '@Url.Action("EditProject", "Project")' + "?id=" + $("#txtProjectNumberid").val();
                    $.post(myUrl, function (data) {
                        $("#dvProject").html(data);
                        if ($("#dvProject div.test").length == 0) {
                            alert("No Project ID found.");
                            $("#txtProjectNumberid").focus();
                            projectFound = 0;
                        }
                    });
                },
                error: function (ex) {
                }
            });
            return false;
        });
    });
</script>
