@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="block margin-top">
    <div class="container-fluid">
        <h2 class="customer-head tabheader">Please contact administator to get access to the modules!</h2>
    </div>
</section>
